*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li.people-li,
li.setting-li,
li.three-dots-li {
	position: relative;
	cursor: pointer;
}
li.people-li ul.people,
li.setting-li ul.setting,
li.three-dots-li ul.three-dots {
	display: none;
	/* font-size: 14px; */
	/* padding: 10px; */
	width: fit-content;
	padding-left: 0;
	list-style: none;
	position: absolute;
	top: 30px;
	left: 0;
	background-color: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.288);
	border-radius: 10px;
	z-index: 4;
}
li.three-dots-li ul.three-dots {
	top: 24px;
	left: -90px;
	/* right: 60px; */
}
li.setting-li ul.setting.active,
li.people-li ul.people.active,
li.three-dots-li ul.three-dots.active {
	display: block;
}

li.people-li ul.people li,
li.setting-li ul.setting li,
li.three-dots-li ul.three-dots li {
	padding: 5px 20px;
	width: 100%;
	/*  */
	transition: all 0.2s;
}
li.people-li ul.people li:hover,
li.setting-li ul.setting li:hover,
li.three-dots-li ul.three-dots li:hover {
	background-color: #ebe8e3;
	/* background-color: teal; */
	cursor: pointer;
}
li.people-li ul.people li:nth-of-type(4),
li.setting-li ul.setting li:nth-of-type(4),
li.three-dots-li ul.three-dots li:nth-of-type(4) {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

:root {
	--bg-color: #ebe8e3;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--bg-color);
}

/* Navbar */
.navbar .navbar-container nav {
	background: aliceblue;
	box-shadow: none;
	background-color: var(--bg-color);
	height: 50px;
}
.navbar .navbar-container nav header span img {
	border-radius: 2px;
	width: 20px;
}
.navbar .navbar-container nav ul li a {
	font-size: 16px;
	font-weight: 300;
}
.navbar .navbar-container nav ul li a:hover {
	background: transparent;
}

/* Hero */
.hero-section {
	background: none;
	/*  */
	display: grid;
	grid-template-columns: repeat(2, 1fre);
}
li.setting {
	margin-right: 60px;
}
.hero-section .hero-left {
	justify-self: left;
	margin-left: 100px;
}
.hero-section .hero-left p.hero-title {
	font-weight: 100;
	font-size: 70px;
	margin: 0;
	/*  */
	position: relative;
}
.hero-section .hero-left p.hero-title::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-45%);
	width: 100%;
	height: 50%;
	border-radius: 20px;
	background-color: #ffffff8a;
	/* border: 1px solid #000; */
}
.hero-section .hero-left p.hero-title::after {
	content: "";
	position: absolute;
	bottom: -72px;
	left: -50px;
	transform: translateX(45%);
	width: 100%;
	height: 50%;
	border-radius: 20px;
	background-color: #ffffff8a;
	/* border: 1px solid #000; */
}
.hero-section .hero-left p.hero-subtitle {
	margin: 0;
	margin-top: -30px;
	margin-left: 44px;
	/*  */
	font-weight: 200;
	font-size: 30px;
	color: #fff;
	letter-spacing: 1px;
	/*  */
	position: relative;
}

.hero-section .hero-right {
	justify-self: right;
	margin-right: 50px;
}
.hero-section .hero-right .sia img {
	width: 300px;
}
.stories-in-action {
	margin-top: -55px;
	margin-left: 84px;
}
.stories-in-action p {
	margin-top: 10px;
	font-size: 24px;
}
.stories-in-action p span.voo {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.288);
}

/* media query */
@media only screen and (max-width: 1000px) {
	/* navbar */
	.navbar .navbar-container nav ul li a {
		font-size: 14px;
	}
	/* Hero */
	.hero-section .hero-left {
		margin-left: 50px;
	}
	.hero-section .hero-right {
		margin-right: 50px;
	}
	.hero-section .hero-left p.hero-title {
		font-weight: 100;
		font-size: 50px;
	}
	.hero-section .hero-left p.hero-title::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-45%);
		width: 100%;
		height: 50%;
		border-radius: 20px;
		background-color: #ffffff8a;
		/* border: 1px solid #000; */
	}
	.hero-section .hero-left p.hero-title::after {
		content: "";
		position: absolute;
		/* bottom: -72px;
		left: -50px; */
		bottom: -50px;
		left: -32px;
		transform: translateX(45%);
		width: 100%;
		height: 50%;
		border-radius: 20px;
		background-color: #ffffff8a;
		/* border: 1px solid #000; */
	}
	.hero-section .hero-left p.hero-subtitle {
		margin: 0;
		margin-top: -30px;
		margin-left: 44px;
		/*  */
		font-weight: 200;
		font-size: 20px;
		color: #fff;
		letter-spacing: 1px;
		/*  */
		position: relative;
	}
	.hero-section .hero-right .sia img {
		width: 220px;
	}
	.stories-in-action p {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	header {
		margin-bottom: 0;
	}
	/*  */
	.stories-in-action {
		margin-top: -50px;
		margin-left: 60px;
	}
	.stories-in-action p {
		font-size: 16px;
	}
	.stories-in-action p span.voo {
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	li.three-dots-li ul.three-dots {
		top: 20px;
		left: -80px;
	}
	/*  */
	/* navbar */
	li.setting {
		margin-right: 20px;
	}
	.navbar .navbar-container nav ul li a {
		font-size: 12px;
	}
	/* Hero */
	.hero-section {
		min-height: 100vh;
	}
	.hero-section .hero-right .sia img {
		width: 200px;
	}
	.hero-section .hero-right {
		margin-right: 0px;
	}
}
